# Avoid including Experiment files: they can be created and edited locally to test the ipf files
*.pxp
*.pxt
*.uxp
*.uxt

# Avoid including Mac specific file
.DS_Store
main codes/.DS_Store
others/.DS_Store
sansu/.DS_Store
